version: '2'

services:
  luna:
    image: git.benolf.org/docker-images/luna2nextcloud:latest
    environment:
      - LUNA_USERNAME=[Luna Benutzername]
      - LUNA_PASSWORD=[Luna Passwort]
      # Führe
      # `podman run -it --rm luna2nextcloud:latest python /luna_list_calendars.py`
      # um die Verfügbaren KalenderIDs mit zugehörigen Namen angezeigt zu bekommen.
      # Bsp.:
      # [{'value': '12345', 'owner': 'Max Mustermann'}, {'value': '67890', 'owner': 'Maxime Mustermann'}]
      - LUNA_CALENDAR_ID=[12345]
      - CALDAV_DOMAIN=[nextcloud.meine.domain]
      - CALDAV_USERNAME=[nextcloud user]
      - CALDAV_PASSWORD=[nextcloud passwort / token]
      # Pfad sollte nur für andere Anbieter als nextcloud geändert werden
      - CALDAV_PATH=remote.php/dav/calendars
      # Name des Kalenders, in den die Essensbestellungen eingetragen werden sollen
      - CALDAV_CALENDAR_NAME=[nextcloud kalender]
      # Jahr-Monat der gesynct werden soll
      - LUNA_MONTH=2025-3-01
